@page
@model RazorPagesCursoUdemy.Pages.Filmes.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Create a new Movie </h1>
<hr />
<h3>Filter</h3>
<form>
    <div class="container">
        <label for="FilmeGender">Genres :</label>
        <select asp-for="FilmeGender" asp-items="@Model.Genders">
            <option value="">All</option>
        </select>
        <label for="SearchTerm"> Title :</label>
        <input type="text" asp-for="SearchTerm" />
        <span class="d-flex justify-content-end">
        <button type="submit" class="btn btn-success">
            Search
        </button>
        </span>
    </div>
</form>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Movie[0].Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Movie[0].Gender)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Movie[0].LaunchDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Movie[0].Price)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Movie[0].Points)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Movie)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Title)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Gender)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.LaunchDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Price)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Points)
                </td>
                <td>
                    <a asp-page="./Edit" asp-route-id="@item.Id">Edit</a> |
                    <a asp-page="./Details" asp-route-id="@item.Id">Details</a> |
                    <a asp-page="./Delete" asp-route-id="@item.Id">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
<p class="d-flex justify-content-end">
    <a asp-page="Create" class="btn btn-primary">Create New</a>
</p>
